
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
<form action="/Home/Welcome" method="get">
    <div>
        <input type="text" placeholder="ID" name="id" />
    </div>
    <div>
        <input type="text" placeholder="Name" name="name" />
    </div>
    <div>
        <input type="text" placeholder="Age" name="age" />
    </div>
    <div>
        <input type="text" placeholder="Salary" name="salary" />
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
