@model Employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h1>@Model.Name</h1>
<h1>@Model.Age   Years Old</h1>
<br />
<a href="/" class="btn btn-secondary">Back</a>